*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    /* display: flex;
    flex-direction: column;
    margin: 20%;
    width: 100vw; */
    width: 375px;
height: 425px;
margin-left: 34%;
margin-top: 20%;
background-color: #e15f23;
padding-left: 30px;
color: #fff;
}
#inches{
    padding: 10px;
}
#foot{
    margin: 14px;
    padding: 10px;
}
#submit{
    background-color: green;
    width: 200px;
    height: 50px;
    color: white;
    margin-left: 35px;
    margin-top: 20px;


}
#result{
    margin-left: 108px;
    font-weight: bold;
    font-size: 2.1rem;
    padding: 2px;
}